services:
  application:
    build:
      target: builder
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000

  application_server:
    ports:
      - "8084:81"

  application_mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "8026:8026"
    networks:
      - app-network
