services:
  application:
    depends_on:
      - application-database
    command: >
      sh -c "php artisan serve --host=0.0.0.0 --port=8000 & php artisan queue:work --sleep=3 --tries=3"

  application-database:
    container_name: mysql
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-architecture}
      MYSQL_USER: ${MYSQL_USER:-architecture}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-12345678}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  application-mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    ports:
      - "8025:8025"
    networks:
      - app-network

  application-storage:
    container_name: minio
    image: minio/minio:latest
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minio}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minio123}
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"  # API
      - "9001:9001"  # Console
    volumes:
      - minio_data:/data
    networks:
      - app-network
