services:
    application:
        container_name: app
        build:
            context: .
            dockerfile: docker/app/Dockerfile
        env_file:
            - .env
        volumes:
            - .:/var/www
            - ./storage:/var/www/storage
        networks:
            - app-network
        depends_on:
            - application-redis
        restart: unless-stopped
        command: ["php", "artisan", "serve", "--host=0.0.0.0", "--port=8000"]
        ports:
            - "8000:8000"

    application-redis:
        container_name: redis
        image: redis:7-alpine
        restart: unless-stopped
        volumes:
            - redis_data:/data
        networks:
            - app-network

networks:
    app-network:

volumes:
    db_data:
    redis_data:
    minio_data:

