name: Deploy Laravel

on:
  push:
    branches:
      - main
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Login no DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push imagem da aplicação
        run: |
          docker build -f docker/app/Dockerfile -t ${{ secrets.DOCKER_USER }}/laravel-app:${{ github.ref_name }} .
          docker push ${{ secrets.DOCKER_USER }}/laravel-app:${{ github.ref_name }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/laravel-app
            git pull origin ${{ github.ref_name }}
            docker-compose -f docker-compose.yml -f docker-compose.${{ github.ref_name }}.yml up -d --build
